/idea/*
/temp/*
idea/*
temp/*
temp/
idea/
build/
*.patch
.idea/
*.log
.DS_Store
HEADER/
DATA/
/data_regt/*
/data_test/*
/Chain/*
/Chain_UnitTest/*
/glide.lock
vendor/*
*.json
*.bin
*.db
/elastos_did/*
*.dat
/did
/did_wallet
/did_wallet_cli
